/* SHARED */
.mf_fset {
    border: 1px solid #999;
    margin-top: 25px;
    padding: 10px;
}
legend {
    font-weight: bold;
    padding: 5px;
    border: 1px solid #999;
}
.mf_fset a.button {
    color: #666 !important;
}
.mf_fset a.button:hover {
    color: black !important;
}
.mf_ordered_list {
    margin: 0;
    padding: 0;
}
li.ui-state-default,
li.ui-state-active {
    list-style-type: none;
    padding: 10px;
    background: #bbb;
    border-color: #aaa;
    min-height: 30px;
}
li.ui-state-highlight {
    list-style-type: none;
    padding: 10px;
    min-height: 30px;
}
.mf_admin_submit {
    margin-top: 25px !important;
}
#hidden-element-container {
    display: none;
}
/* MAIN OPTIONS PAGE */
#mf_options_form input {
    vertical-align: middle;
}
.mf_tb_label {
    display: inline-block;
    width: 350px;
}
/* STRUCTURE PAGE */
a.mf_remove_category,
a.mf_remove_forum {
    float: right;
}
div.user-groups-area {
    display: none;
    margin-top: 10px;
}
/* USER GROUPS PAGE */
a.mf_remove_user_group,
a.mf_remove_user_group_user {
    float: right;
}
