#wpf-menu li
{
  display: inline;
  list-style-type: none;
  text-align: center;
  margin-right: 15px;
}

#wpf-menu
{
  margin-top: 20px;
  padding: 0;
}

#wpf-menu li.current
{
  border-bottom: 0px;
}

#wpf-menu li a{
  border: none;
  text-decoration: none;
}

#wpf-menu li.current a{
  color: #d54e21;
}

table.wpf-wide{
  width: 100%;
  border: none;
}

table.wpf-wide tr{
  border: none;
}
table.wpf-wide td{
  border: none;
  vertical-align: top;
}

p.wpf-indent{
  padding-left: 10px;
}
p.wpf-alignright{
  text-align: right;
}
p.wpf-bordertop{
  border-top: 1px solid #ccc; padding-top:5px;
}