:root {
	--lightsilver: rgba(0, 0, 0, 0.1);
	--transparent: rgba(0, 0, 0, 0.025);
  }
blockquote {
	padding: 8px 10px 0;
	margin: 10px 0;
	background: var(--transparent);
	border: 1px solid var(--lightsilver);
	border-left: 4px solid var(--lightsilver);
}
.quotetitle {
	font-style: italic;
	font-weight: bold;
	margin-bottom: 10px;
}
