@media only screen and (max-width : 768px) {
    #af-wrapper .forum div,
    #af-wrapper .topic div {
        border-right: none;
    }
    #af-wrapper .forum-stats,
    #af-wrapper .topic-stats,
    #af-wrapper .member-last-seen,
    #af-wrapper .last-post-headline {
        display: none;
    }
    #af-wrapper img.avatar {
        float: left;
        height: 40px;
        width: 40px;
    }
    #af-wrapper .pages,
    #af-wrapper .forum-menu {
        margin-bottom: 10px;
    }
    #af-wrapper .forum-menu a {
        margin-bottom: 2px;
    }
    #af-wrapper .pages a,
    #af-wrapper .pages strong {
        font-size: 130% !important;
        padding: 3px 5px;
    }
}

@media only screen and (max-width : 600px) {
    #af-wrapper .forum-poster,
    #af-wrapper .topic-poster {
        display: none;
    }
}
