@media only screen and (max-width : 768px) {
    #af-wrapper .forum div,
    #af-wrapper .topic div,
    #af-wrapper .post-author {
        border-right: none;
    }
    #af-wrapper .forum-stats,
    #af-wrapper .topic-stats,
    #af-wrapper .last-post-headline,
    #af-wrapper .post-author small:first-child,
    #af-wrapper .post-author br {
        display: none;
    }
    #af-wrapper .forum-post-header div {
        display: block;
    }
    #af-wrapper .post-element {
        display: inline;
    }
    #af-wrapper img.avatar {
        float: left;
        height: 40px;
        width: 40px;
    }
    #af-wrapper .post-author strong,
    #af-wrapper .post-author small {
        display: block;
        margin: 2px;
    }
    #af-wrapper #breadcrumbs,
    #af-wrapper #forum-search,
    #af-wrapper .post-author,
    #af-wrapper .post-message {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    #af-wrapper .pages,
    #af-wrapper .forum-menu {
        margin-bottom: 10px;
    }
    #af-wrapper .pages a,
    #af-wrapper .pages strong {
        font-size: 130% !important;
        padding: 3px 5px;
    }
    #af-wrapper .post-author {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    #af-wrapper .forum-post-header {
        height: initial;
    }
    #af-wrapper #statistics .statistics-element {
        border: none;
        text-align: center;
    }
    #af-wrapper #statistics .element-number,
    #af-wrapper #statistics .element-name {
        display: inline-block;
        font-size: 18px;
        line-height: 32px;
    }
}

@media only screen and (max-width : 600px) {
    #af-wrapper .forum-poster,
    #af-wrapper .topic-poster {
        display: none;
    }
}
