/* GENERAL */
#af-wrapper {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 13px;
    color: #444;
    line-height: 1.65;
    text-shadow: none; /* comp */
}
#af-wrapper a {
    color: #2d89cc;
    border: none;
    text-decoration: none;
    box-shadow: none;
    font-size: inherit; /* comp */
}
#af-wrapper small {
    font-size: smaller;
}
#af-wrapper strong,
#af-wrapper span {
    font-size: inherit !important; /* comp */
}
#af-wrapper div {
    border-radius: 0; /* comp */
}
#af-wrapper .space {
    margin-bottom: 20px !important;
    visibility: inherit; /* comp */
    height: inherit; /* comp */
    padding: 0; /* comp */
}
#af-wrapper .clear {
    clear: both;
}
#af-wrapper .highlight-admin {
    color: #e00000;
}
#af-wrapper .highlight-moderator {
    color: #099922;
}
#af-wrapper .banned {
    color: red;
    font-style: italic;
}

/* INPUT ELEMENTS */
#af-wrapper input {
    padding: 3px 6px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #555;
    margin: 2px 0 !important;
    vertical-align: middle;
    font-family: inherit;
}
#af-wrapper input[type="submit"] {
    color: #fff;
    background: none;
    background-color: #2D89CC;
    border: 1px solid #005B91 !important;
    text-transform: none;
}

/* EDITOR */
#af-wrapper .editor-row,
#af-wrapper .editor-row-subject {
    display: block;
    width: 100%;
    line-height: normal;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    padding: 8px 15px;
    box-sizing: border-box;
}
#af-wrapper .editor-row-subject label {
    float: left;
    font-size: 18px;
    line-height: 2em;
}
#af-wrapper .editor-row-subject span {
    display: block;
    overflow: hidden;
    padding: 0 0 0 1em;
}
#af-wrapper .editor-row-subject input {
    width: 100%;
    line-height: 1.5em;
    font-size: 18px;
    margin: 1px 0 !important;
    box-sizing: border-box;
}
#af-wrapper .editor-row .row-title {
    display: block;
    font-size: 18px !important;
    margin: 2px 0 8px 0;
}
#af-wrapper .editor-row-uploads .upload-filetypes {
    display: block;
    font-size: 12px;
    padding: 10px 0;
}
#af-wrapper .editor-row input[type="file"],
#af-wrapper .editor-row input[type="submit"] {
    width: 100%;
    box-sizing: border-box;
}
#af-wrapper .editor-row input[type="checkbox"] {
    margin-top: 0 !important;
}
#af-wrapper .editor-row label[for="subscribe_checkbox"] {
    padding-left: 10px;
}
#af-wrapper .editor-row:last-child {
    border-bottom: none;
}
#af-wrapper .no-padding {
    padding: 0;
}
#af-wrapper .quicktags-toolbar input {
    width: auto;
}
#af-wrapper .editor-row-uploads a,
#af-wrapper .editor-row .delete {
    cursor: pointer;
}

/* OVERVIEW/FORUM */
#af-wrapper .forum [class^="dashicons-"],
#af-wrapper .forum [class*=" dashicons-"],
#af-wrapper .thread [class^="dashicons-"],
#af-wrapper .thread [class*=" dashicons-"] {
    padding: 0;
}
#af-wrapper .forum,
#af-wrapper .thread {
    display: table;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#af-wrapper .content-element .forum:last-child,
#af-wrapper .content-element .thread:last-child {
    border-bottom: none;
}
#af-wrapper .forum div,
#af-wrapper .thread div {
    display: table-cell;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    vertical-align: middle;
    box-sizing: content-box;
}
#af-wrapper .forum div:last-child,
#af-wrapper .thread div:last-child {
    border-right: none;
}
#af-wrapper .forum-status,
#af-wrapper .thread-status {
    width: 50px;
    text-align: center;
}
#af-wrapper .forum-name,
#af-wrapper .thread-name {
    width: auto;
}
#af-wrapper .forum-stats,
#af-wrapper .thread-stats {
    width: 100px;
    text-align: center;
}
#af-wrapper .forum-poster,
#af-wrapper .thread-poster {
    width: 220px;
    line-height: 1.6;
}
#af-wrapper .forum-name strong,
#af-wrapper .thread-name strong,
#af-wrapper .forum small,
#af-wrapper .thread small {
    display: block;
}
#af-wrapper .forum-subforums {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 5px;
    margin-top: 5px;
    word-break: break-word;
}
#af-wrapper .bright {
    background-color: #eee;
    padding: 3px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* MENU */
#af-wrapper .forum-menu {
    float: right;
}
#af-wrapper .forum-menu a {
    display: inline-block;
    background-color: #2d89cc;
    padding: 3px 5px;
    margin-left: 3px;
    color: #fff !important;
    margin-bottom: 5px;
}

/* NOTICE */
#af-wrapper .info,
#af-wrapper .notice,
#af-wrapper .error {
    text-align: center;
    font-size: 13px;
    font-style: italic;
    padding: 8px !important;
}
#af-wrapper .info {
    border: 1px solid #ccc;
    background-color: #ffb;
    margin-bottom: 10px;
}
#af-wrapper .info span {
    display: block;
}

/* FOOTER */
#af-wrapper .footer {
    width: 100%;
    display: block;
    background-color: inherit; /* comp */
    color: inherit; /* comp */
}

/* PAGEING */
#af-wrapper .pages {
    float: left;
}
#af-wrapper .pages strong {
    background-color: #737373;
    color: #fff;
    font-size: 95% !important;
    padding: 0 5px;
    font-weight: normal;
}
#af-wrapper .pages a {
    background-color: #2D89CC;
    color: #fff !important;
    font-size: 95%;
    padding: 0 5px;
}
#af-wrapper .pages a:hover {
    background-color: #005C92;
    text-decoration: none !important;
}

/* TITLE */
#af-wrapper .title-element {
    background-color: #2d89cc;
    color: #fff;
    padding: 5px 5px 5px 10px;
    display: block;
    font-weight: bold;
}

/* BREADCRUMBS */
#af-wrapper .breadcrumbs {
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
    color: #444;
}
#af-wrapper .breadcrumbs a {
    color: #444;
    background: none; /* comp */
    padding: inherit; /* comp */
}
#af-wrapper .breadcrumbs a:hover {
    color: #2D89CC;
    text-decoration: none;
}
#af-wrapper .breadcrumbs .sep {
    margin: 0 3px;
    background: none; /* comp */
    padding: inherit; /* comp */
}

/* CONTENT WRAPPERS*/
#af-wrapper .content-element {
    border: 1px solid #2d89cc;
    margin-bottom: 10px;
    background-color: #fff;
}
#af-wrapper .content-element a:hover {
    text-decoration: underline;
}

/* THREAD */
#af-wrapper img.avatar {
    float: none;
    margin: 0;
}

/* POST */
#af-wrapper .post {
    margin: 0;
    padding: 0; /* comp */
    border: none; /* comp */
    border-radius: inherit; /* comp */
}
#af-wrapper .post-header {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    height: 29px; /* comp */
}
#af-wrapper .post-date {
    float: left;
    font-style: italic;
    padding: 5px 10px;
    color: #777;
    font-size: 11px;
}
#af-wrapper .post-menu {
    float: right;
    display: table;
    height: 100%;
}
#af-wrapper .post-menu a {
    display: table-cell;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    padding: 4px 6px;
}
#af-wrapper .post-menu a:hover {
    color: #005C92;
    text-decoration: none;
}
#af-wrapper .post-content {
    display: table;
    width: 100%;
    margin: 0; /* comp */
    padding: 0; /* comp */
    table-layout: fixed; /* IE */
}
#af-wrapper .post-content:before,
#af-wrapper .post-content:after {
    content: none; /* comp */
}
#af-wrapper .post-author {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    width: 125px;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.05);
    word-wrap: break-word;
}
#af-wrapper .post-message {
    display: table-cell;
    width: auto;
    vertical-align: top;
    padding: 15px;
    word-break: break-word;
    position: relative;
}
#af-wrapper .post-message p {
    margin: 0 0 20px;
}
#af-wrapper .post-message ul {
    padding: inherit;
    margin: 0;
}
#af-wrapper .post-message img {
    max-width: 100% !important;
    height: auto !important;
}
#af-wrapper .post-footer {
    display: block;
    font-style: italic;
    font-size: 11px;
    color: #999;
    text-align: right;
    position: absolute;
    padding: 5px 10px;
    bottom: 0;
    right: 0;
}
#af-wrapper .post-footer a {
    color: #999;
}

/* QUOTES */
#af-wrapper blockquote {
    font-size: inherit;
    padding: 10px;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 4px solid rgba(0, 0, 0, 0.3);
    outline: none; /* comp */
    color: inherit; /* comp */
}
#af-wrapper blockquote:before {
    content: none; /* comp */
}
#af-wrapper .quotetitle {
    font-style: italic;
    font-weight: bold;
}

/* SUBSCRIPTIONS */
#af-wrapper #topic-subscription {
    display: block;
}
#af-wrapper #topic-subscription a {
    font-size: 11px;
    font-style: italic;
}

/* ICONS */
#af-wrapper [class^="dashicons-"],
#af-wrapper [class*=" dashicons-"] {
    padding-right: 5px;
    border-radius: inherit; /* comp */
    background: none; /* comp */
    color: inherit; /* comp */
    display: inline; /* comp */
    position: initial; /* comp */
}
#af-wrapper .dashicons-overview:before,
#af-wrapper .dashicons-admin-page-small:before {
	content: "\f214";
}
#af-wrapper .dashicons-normal_open:before,
#af-wrapper .dashicons-sticky_open:before {
    content: "\f206";
}
#af-wrapper .dashicons-normal_closed:before,
#af-wrapper .dashicons-sticky_closed:before {
    content: "\f160";
}
#af-wrapper .dashicons-overview:before,
#af-wrapper .dashicons-normal_open:before,
#af-wrapper .dashicons-sticky_open:before,
#af-wrapper .dashicons-normal_closed:before,
#af-wrapper .dashicons-sticky_closed:before {
    font-size: 40px;
    width: 40px;
    height: 40px;
}
#af-wrapper .unread:before {
    color: #2D89CC;
}
