/* OPTIONS */
#af-options input {
    vertical-align: middle;
}
#af-options label {
    display: inline-block;
    min-width: 250px;
}
#af-options input[type="submit"],
#af-options h3 {
    margin-top: 25px;
}
#af-options input[id="allowed_filetypes"] {
    width: 300px;
}
#af-options .wp-color-result {
    margin: 0;
}
/* CATEGORIES */
.term-name-wrap p,
.term-slug-wrap,
.term-description-wrap {
    display: none;
}
/* FORUM */
#af-forums .dashicons-before {
    font-size: 14px;
    display: inline-block;
}
#af-forums a {
    text-decoration: none;
}
#af-forums h3 {
    font-weight: normal;
}
#af-forums .forum-delete-link {
    color: #a00;
}
#af-forums .forum-editor-link,
#af-forums .forum-delete-link {
    padding: 10px 0;
}
#af-forums .forum {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
#af-forums .subforum {
    margin-left: 20px;
    padding-left: 5px;
    border-left: 2px solid #ccc;
}
#af-forums .forum-name {
    width: 360px;
    display: inline-block;
}
#af-forums .forum-order {
    width: 125px;
    display: inline-block;
}
#af-forums .forum-actions {
    display: inline-block;
}
#add-edit-forum-form .form-table th {
    width: 150px;
    padding: 10px 10px 10px 0;
}
#add-edit-forum-form .form-table td {
    padding: 5px 10px;
}
#add-edit-forum-form input[type="text"] {
    width: 300px;
}
#delete-forum-form input[type="submit"] {
    background-color: #d54e21;
    border-color: #d54e21;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
}
