/* FORUMS */
.af_fset {
    border: 1px solid #999;
    margin-top: 25px;
    padding: 8px;
}
legend {
    font-weight: bold;
    padding: 4px;
    border: 1px solid #999;
}
.af_ordered_list {
    margin: 0 0 10px;
}
li.ui-state-default {
    list-style-type: none;
    padding: 8px;
    background: #ccc;
    border: 1px solid #bbb;
}
li.ui-state-highlight {
    list-style-type: none;
    padding: 8px;
    background: #a5c5e2;
    border: 1px solid #bbb;
    min-height: 29px;
}
.af_admin_submit {
    margin-top: 25px !important;
}
#hidden-element-container {
    display: none;
}
a.af_remove_forum {
    float: right;
}
input {
    width: 300px;
}
.af_add_new_forum,
.af_remove_forum {
    text-decoration: none;
    font-size: 14px;
}
/* OPTIONS PAGE */
#af_options_form input {
    vertical-align: middle;
}
.af_tb_label {
    display: inline-block;
    width: 250px;
}
