/* OPTIONS */
#af-options input {
    vertical-align: middle;
}
#af-options label {
    display: inline-block;
    min-width: 250px;
}
#af-options input[type="submit"],
#af-options h3 {
    margin-top: 25px;
}
#af-options .wp-color-result {
    margin: 0;
}
#af-options .hide {
    display: none;
}
#af-options .description {
    vertical-align: middle;
    color: #666;
}
/* STRUCTURE/USER GROUPS */
#af-structure .category-actions {
    float: right;
    font-weight: normal;
    font-size: 13px;
}
#af-structure .category-actions a {
    color: white;
}
#af-structure .category-actions a.category-editor-link:hover {
    color: #73d5f5 !important;
}
#af-structure .category-actions a.category-delete-link:hover {
    color: #ffb2b2 !important;
}
#af-structure .dashicons-before,
#af-usergroups .dashicons-before {
    font-size: 14px;
    display: inline-block;
}
#af-structure a,
#af-usergroups a {
    text-decoration: none;
}
#af-structure .forum-delete-link,
#af-usergroups .usergroup-delete-link {
    color: #a00;
}
#af-structure .forum-delete-link:hover,
#af-usergroups .usergroup-delete-link:hover {
    color: red;
}
#af-structure .padding-top,
#af-usergroups .padding-top {
    padding-top: 10px;
}
#af-structure .margin-bottom,
#af-usergroups .margin-bottom {
    margin-bottom: 20px;
}
#af-usergroups .margin-top {
    margin-top: 20px;
}
#af-structure .tablenav,
#af-structure .forums tfoot,
#af-usergroups .tablenav,
#af-usergroups .usergroups tfoot {
    display: none;
}
#af-structure .hndle,
#af-usergroups .hndle {
    cursor: default;
    background-color: #2d89cc;
    color: white;
}
#af-structure .element-id {
    color: silver;
    font-weight: 600;
}
#af-structure .parentforum {
    display: block;
}
#af-structure .subforum {
    display: block;
    margin-left: 20px;
    border-left: 3px solid #ddd;
    padding-left: 5px
}
#af-structure th,
#af-usergroups th {
    width: initial;
    vertical-align: middle;
    color: #444;
}
#af-structure #category_name,
#af-structure #forum_name,
#af-usergroups #usergroup_name {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}
#af-structure #category-editor .form-table th,
#af-structure #forum-editor .form-table th,
#af-usergroups #usergroup-editor .form-table th {
    min-width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#af-structure #category-editor .form-table td,
#af-structure #forum-editor .form-table td,
#af-usergroups #usergroup-editor .form-table td {
    padding-top: 8px;
    padding-bottom: 8px;
}
#af-structure #forum_description {
    width: 100%;
}
#af-structure #category-delete input[type="submit"],
#af-structure #forum-delete input[type="submit"],
#af-usergroups #usergroup-delete input[type="submit"] {
    background-color: #d54e21;
    border-color: #d54e21;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
}
#af-structure .forum-name,
#af-usergroups .usergroup-name {
    font-weight: 600;
}
#af-structure .forum-description {
    font-style: italic;
}
#af-structure .wp-list-table td,
#af-usergroups .wp-list-table td {
    vertical-align: middle;
}
#af-structure .column-icon {
    width: 40px;
}
#af-structure td.column-icon {
    padding-left: 5px;
}
#af-structure .forum-icon:before {
    width: 40px;
    height: 40px;
    font-size: 40px;
}
#af-structure .column-status,
#af-structure .column-sort,
#af-usergroups .column-color,
#af-usergroups .column-users {
    width: 125px;
}
#af-structure .column-actions,
#af-usergroups .column-actions {
    max-width: 400px;
}
#af-usergroups .usergroup-color {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
}
#af-structure #usergroups-editor th,
#af-usergroups #usergroup-color-settings th {
    vertical-align: top;
}
#af-structure #usergroups-editor td label {
    display: block;
}
