.af-usergroup-tag {
    padding: 0 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    margin: 1px;
    display: inline-block;
    line-height: 20px;
}
.usergroups-editor .usergroup-category-name {
    display: block;
    font-weight: 600;
    padding: 15px 0 5px;
}
.usergroups-editor .usergroup-category-name:first-of-type {
    padding-top: 0px;
}