/* PANEL */
#asgaros-panel {
    position: relative;
    overflow: auto;
    margin: 16px 0;
    padding: 10px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    font-size: 13px;
}
#asgaros-panel .sub-panel-left,
#asgaros-panel .sub-panel-right {
    min-width: 200px;
}
#asgaros-panel .sub-panel-left {
    height: 65px;
    float: left;
}
#asgaros-panel .sub-panel-right {
    color: #82878c;
    font-size: 18px;
    float: right;
    text-align: right;
}
#asgaros-panel a {
    font-size: 16px;
    text-decoration: none;
    padding: 0 10px;
    line-height: 65px;
}
#asgaros-panel .dashicons-before:before {
    color: #82878c;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 1px 4px 0 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: top;
    line-height: 65px;
}
#asgaros-panel .dashicons-heart:before {
    color: red;
}
#asgaros-panel h1 {
    padding: 0;
    color: #444;
    line-height: 65px;
    border-left: 1px solid #f1f1f1;
    padding-left: 16px;
    font-size: 28px;
}
#asgaros-panel .error-panel {
    border-left: 4px solid #dc3232;
}
#asgaros-panel .updated-panel {
    border-left: 4px solid #46b450;
}
#asgaros-panel .error-panel p,
#asgaros-panel .updated-panel p {
    border: 1px solid #f1f1f1;
    padding: 8px;
    margin: 8px 0 0;
    background-color: #fafafa;
}
/* OPTIONS */
#af-options input {
    vertical-align: middle;
}
#af-options label {
    display: inline-block;
    min-width: 250px;
}
#af-options .wp-picker-container label {
    min-width: initial;
}
#af-options .description {
    vertical-align: middle;
    color: #666;
}
#af-options .postbox .dashicons-before:before {
    padding-right: 5px;
}
/* STRUCTURE/USER GROUPS */
#af-structure .category-actions {
    float: right;
    font-weight: normal;
    font-size: 13px;
}
#af-structure .category-actions a {
    color: white;
}
#af-structure .category-actions .action-delete:hover {
    color: #ffb2b2 !important;
}
#af-structure .category-actions .action-edit:hover {
    color: #73d5f5 !important;
}
#af-structure a.dashicons-before {
    font-size: 14px;
    display: inline-block;
}
#af-structure a {
    text-decoration: none;
}
#af-structure .link-delete {
    color: #a00;
}
#af-structure .link-delete:hover {
    color: red;
}
#af-structure .padding-top {
    padding-top: 10px;
}
#af-structure .margin-bottom {
    margin-bottom: 20px;
}
#af-structure .tablenav,
#af-structure tfoot {
    display: none;
}
#af-options .hndle,
#af-structure .hndle {
    cursor: default;
    background-color: #2d89cc;
    border-bottom: 1px solid #00689a;
    color: white;
}
#af-structure .element-id {
    color: silver;
    font-weight: normal;
    font-style: italic;
    font-size: small;
}
#af-structure .parentforum {
    display: block;
}
#af-structure .subforum {
    display: block;
    margin-left: 16px;
    border-left: 3px solid #ddd;
    padding-left: 4px
}
#af-structure th {
    width: initial;
    vertical-align: middle;
    color: #444;
}
#af-structure .element-name {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}
#af-structure #forum_description {
    width: 100%;
}
#af-structure .delete-layer input[type="submit"] {
    background-color: #d54e21;
    border-color: #d54e21;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
}
#af-structure .postbox .form-table th {
    min-width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#af-structure .postbox .form-table td {
    padding-top: 8px;
    padding-bottom: 8px;
}
#af-structure .forum-description {
    font-style: italic;
}
#af-structure .wp-list-table td {
    vertical-align: middle;
}
#af-structure .column-icon {
    width: 40px;
}
#af-structure td.column-icon {
    padding-left: 5px;
}
#af-structure .make-bold {
    font-weight: 600;
}
#af-structure .forum-icon:before {
    width: 40px;
    height: 40px;
    font-size: 40px;
}
#af-structure .parentforum .forum-icon,
#af-structure .subforum .forum-icon {
    display: block;
    float: left;
    margin-right: 8px;
}
#af-structure .column-author,
#af-structure .column-reporters {
    width: 125px;
}
#af-structure .column-status,
#af-structure .column-sort,
#af-structure .column-users {
    width: 100px;
}
#af-structure .usergroup-name {
    font-weight: 600;
    line-height: 25px;
}
#af-structure .usergroup-name .element-id {
    color: #888;
}
#af-structure .usergroup-color {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    float: left;
    display: block;
    margin-right: 8px;
    box-sizing: border-box;
}
#af-structure #usergroups-editor th,
#af-structure #usergroup-color-settings th {
    vertical-align: top;
}
#af-structure #usergroups-editor td .usergroup-category-name {
    display: block;
    font-weight: 600;
    padding: 15px 0 5px;
}
#af-structure #usergroups-editor td .usergroup-category-name:first-of-type {
    padding-top: 0px;
}
#af-structure #usergroups-editor td label {
    display: block;
}
#af-structure .clear {
    clear: both;
}